html, body {
  overflow-x: hidden; 
}

body {
  padding-top: 56px;
}

.features {
  width: 100%;
  min-width: 400px;
  padding: 10px;
  text-align: center;
  margin: 0;
}
.features .title {
  font-weight: 600;
  font-size: 2.4em;
  margin-top: 10px;
  margin-bottom: 15px;
}
.features h1 {
  font-weight: 600;
  text-align: center;
  color: black;
  font-size: 25px;
  padding: 0;
  margin-top: 15px;
}

.wrapper-1 {
  display: inline-block;
  align-items: center;
  min-width: 400px;
  height: 230px;
  width: 400px;
  margin: 10px;
  transition-property: all;
  border-radius: 5px;
  position: relative;
  background-color: white;
  padding-top: 15px;
  box-shadow: 1px 1px 5px black;
}

.middle-text {
  position: absolute;
  top: 53%;
  left: 53%;
  transform: translate(-53%, -53%);
  z-index: 10;
  width: 100%;
}
.wrapper-1 p {
  padding: 15px;
  text-align: center;
  font-size: 15px;
  color: black;
}

@media screen and (max-width: 361px) {
  .wrapper-1 {
    margin-top: 8px;
    display: inline-block;
    align-items: center;
    min-width: 150px;
    height: 200px;
    width: 260px;
    margin: 15px;
    transition-property: all;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    box-shadow: 1px 1px 5px black;
    }
  .features {
    text-align: center;
    padding-top: 20px;
    min-width: 150px;
    text-align: center;
    padding-bottom: 40px;
  }
  .wrapper-1 p {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: black;
  }
  .features .title {
    font-size: 1.5em;
  }
  .features h1 {
    text-align: center;
    color: black;
    font-size: 14px;
    padding: 0;
    margin: 10px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 992px) {
  .middle-text {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    z-index: 10;
    width: 100%;
  }
    
  .mob-shit {
    width: 350px;
  }
    
  .wrapper-1 {
    display: inline-block;
    align-items: center;
    min-width: 220px;
    height: 250px;
    width: 310px;
    margin: 15px;
    transition-property: all;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 5px black;
  }
  .features {
    padding-top: 20px;
    min-width: 300px;
    padding: 20px;
    text-align: center;
    padding-bottom: 20px;
  }
  .wrapper-1 p {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    color: black;
  }
  .features .title {
    font-size: 2.4em;
  }
  .features {
    padding-top: 20px;
    min-width: 300px;
    padding: 20px;
    text-align: center;
    padding-bottom: 20px;
  }
  .features .title {
    font-size: 2.4em;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; 
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.bg-purple {
  background-color: #6f42c1;
}