/* ПОМОГИТЕ МЕНЯ ДЕРЖАТ В ПОДВАЛЕ И ЗАСТАВЛЯЮТ ДЛЯ НИХ ДЕЛАТЬ САЙТЫ */
/* ПОМОГИТЕ ПОЖАЛУЙСТА */
/* @GogaNotClown */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Rubik:wght@300&family=Work+Sans:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #2f303a;
    color: white;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

.section-large-text {
    position: relative;
    background: url("https://c.tenor.com/dZcvEzL_5aIAAAAC/clown-pepe.gif") bottom center / cover no-repeat;
    height: 600px;
}

.section-large-text-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding: 5rem 0;
}

.section-large-text-inner h2 {
    font-size: 5rem;
    margin-top: 1rem;
}

.section-large-text-inner h3 {
    font-size: 2rem;
}

.section-large-text-inner p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .section-showcase .container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .section-showcase .container div:first-child {
        order: 2;
    }

    .section-showcase .container div:nth-child(2) {
        order: -1;
    }

    .section-showcase h1 {
        font-size: 2rem;
    }

    .section-showcase img {
        width: 80%;
        margin: auto;
    }

    .section-large-text-inner h2 {
        font-size: 3rem;
    }

    .section-large-text-inner h3 {
        font-size: 1.5rem;
    }

    .section-large-text-inner p {
        font-size: 1.25rem;
    }

    .section-footer {
        padding: 2rem 0;
    }

    .section-footer .container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .section-footer div:nth-child(2),
    .section-footer div:nth-child(3) {
        display: none;
    }
}


.footer-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.footer-nav a:hover {
    color: #adadad;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-footer {
    height: 70px;
    background-color: #202027;
    font-weight: bold;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}

.full-height {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    flex-grow: 1;
}

.hero-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
}

.hero-section .img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    flex-grow: 1;
}

.hero-section .pepega {
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/822dc67e-efc4-4081-afe9-f95280c875df/dd3juwm-d92b1452-f30b-4570-88e1-aa60176fb169.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgyMmRjNjdlLWVmYzQtNDA4MS1hZmU5LWY5NTI4MGM4NzVkZlwvZGQzanV3bS1kOTJiMTQ1Mi1mMzBiLTQ1NzAtODhlMS1hYTYwMTc2ZmIxNjkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0._Wk3uonXR2IlG22NhW2la-cnuPFTJ6KvU91JvpxQcNA") bottom left / contain no-repeat;
    flex-grow: 1;
}

.hero-section .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
}

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
}

.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.hero-circle-1 {
    position: absolute;
    bottom: 5vw;
    left: 5vw;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgb(188, 58, 128, 0.1);
    z-index: -1;
}

.hero-circle-2 {
    position: absolute;
    top: 15vh;
    left: 30vw;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgb(188, 58, 128, 0.1);
    z-index: -1;
}

.hero-circle-3 {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: 0;
    width: 45vw;
    height: 45vw;
    z-index: -1;
}

.hero-circle-3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(188, 58, 128, 0.1);
    transform: translate(40%, 40%);
}

@media (max-width: 992px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .hero-section .img-wrapper {
        width: 100%;
        height: 100%;
    }

    .main-footer {
        height: 140px;
    }

    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .main {
        align-items: center;
    }

    .title {
        font-size: 2em;
    }

    .subtitle {
        font-size: 1em;
        text-align: center;
    }

    @media (max-height: 500px) {
        .hero-section .pepega {
            display: none;
            font-size: 2rem;
        }
    }
}
